/* (A) GRID CONTAINER */
#grid-line {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

/* (B) GRID CELL */
div.cell {
    background: #fff600;
    border: 1px solid #000;
    padding: 10px;
}

/* (C) SPAN MULTIPLE COLUMNS */
.spancol {
    grid-column-start: 1;
    grid-column-end: 4;
}