<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../views/components/css/stylesheet.css">
    <title>LoadDataP</title>
</head>
<body>
    <div class="wrapper">
        <div id="grid-line">
                <div class="cell spancol-info">
                    INFO FIELDs
                </div>
                <div class="cell spancol-input">
<!--                            <form action="upload.php" method="post" enctype="multipart/form-data">-->
<!--                                <h2>PHP Upload File</h2>-->
<!--                                <label for="file_name">Filename:</label>-->
<!--                                <input type="file" name="anyfile" id="anyfile">-->
<!--                                <p><strong>Note:</strong> Only .jpg, .jpeg, .gif, .png formats allowed to a max size of 5 MB.</p>-->
<!--                            </form>-->
                </div>
            <div class="cell">
                <input type="submit" name="submit" value="Upload">
            </div>
            <div class="cell">
                Clear all records BUTTON
            </div>
            <div class="cell">
                <a href="ShowDataP.html">View results BUTTON!</a>
            </div>
        </div>
    </div>
</body>
</html>