<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../views/components/css/stylesheet.css">
    <title>LoadDataP</title>
</head>
<body>
    <div class="wrapper">
        <div id="grid-line">
            <form action="../../app/querys/upload.php" method="post" name="uploadCsv" enctype="multipart/form-data">
                <div class="cell spancol-input">
                    <input type="file" name="file" accept=".csv">
                </div>
            <div class="cell">
                <input type="submit" name="submit" value="upload">
            </div>
            </form>
            <div class="cell">
                <form action="../../app/querys/clearData.php" method="post" name="clearData">
                    <a>Clear all data</a>
                    <input type="submit" name="submit" value="Clear">
                </form>
            </div>
            <div class="cell">
                <a href="ShowDataP.html">View results BUTTON!</a>
            </div>
        </div>
    </div>
</body>
</html>